<div class="mat-typography">
    <h2 mat-dialog-title>Añada un grupo a esta pradera</h2>
    <mat-dialog-content>
      <mat-select placeholder="Grupos">
        <mat-option *ngFor="let group of options" [value]="group.id">{{group.nombre}}</mat-option>
      </mat-select>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="undefined">Cancelar</button>
        <button mat-button mat-dialog-close (click)="accept()">Aceptar</button>
    </mat-dialog-actions>
</div>
