<div class="container mat-typography">
  <div class="breadcrumb" *ngIf="edit; else noEdit">
    <button mat-button routerLink="../">Grupos</button> >
    <span>Agregar Grupo</span>
  </div>
  <ng-template #noEdit>
    <div class="breadcrumb">
      <button mat-button routerLink="../../">Grupos</button> >
      <button mat-button routerLink="../">{{item.nombre}}</button> >
      <span>Editar Grupo</span>
    </div>
  </ng-template>

  <mat-card *ngIf="!loadingEdit; else loaderEdit">
    <h1 *ngIf="edit">Editar Grupo</h1>

    <form #formAdd="ngForm" autocomplete="off">
      <div fxLayout="row wrap" fxLayoutGap="16px">

        <app-bovine-selected fxFlex="0 0 100%" [editable]="true" [selecteds]="selected.selecteds"></app-bovine-selected>


        <mat-form-field fxFlex="0 0 100%" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput [(ngModel)]="item.nombre" name="nom">
        </mat-form-field>

        <mat-form-field fxFlex="0 0 100%" appearance="outline">
          <mat-label>Color</mat-label>
          <input type="color" matInput [(ngModel)]="color" name="col">
        </mat-form-field>


        <div *ngIf="!loading; else loader" fxFlex="0 0 100%" fxLayout="row">
          <button fxFlex="0 0 calc(50% - 15px)" fxFlex.gt-sm="0 0 calc(20% - 15px)" fxFlexOffset.gt-sm="60%" mat-button
            color="accent" (click)="goToBack()">Cancelar</button>
          <button fxFlex="0 0 calc(50% - 15px)" fxFlex.gt-sm="0 0 calc(20% - 15px)" mat-raised-button color="accent"
            (click)="add()" [disabled]="formAdd.invalid">{{edit? 'Editar' : 'Agregar'}}</button>
        </div>

        <ng-template #loader>
          <app-loader></app-loader>
        </ng-template>
      </div>
    </form>
  </mat-card>
  <ng-template #loaderEdit>
    <app-loader [align]="'center'" [big]="true"></app-loader>
  </ng-template>
</div>