<mat-card *ngIf="bvn">
  <div *ngIf="bvn.celos && bvn.celos.length > 0">
    <h2 appNoSpace>Proximo celo estimado</h2>
    <p>{{bvn.fechaProximoCelo | date}}</p>
  </div>
  <div fxLayout="row" fxLayoutAlign="flex-start center">
    <h2 appNoSpace>Fechas de Celos</h2>
    <button mat-icon-button color="accent" *ngIf="!addMode && !serviceActivated" (click)="setAddMode()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="accent" *ngIf="addMode && !serviceActivated" (click)="addMode = false">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div *ngIf="addMode">
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Fecha de Celo</mat-label>
      <input matInput [matDatepicker]="picker" (focus)="picker.open()" [(ngModel)]="zealDate" name="dat" required #dat="ngModel">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button *ngIf="!loading; else rotorCel" class="space" mat-raised-button color="accent" [disabled]="dat.invalid" (click)="add()">Aceptar</button>

    <ng-template #rotorCel>
      <app-loader></app-loader>
    </ng-template>
    <br>
  </div>

  <mat-list>
    <mat-list-item *ngFor="let z of bvn.celos; first as fi">
      <div fxLayout="row" style="width: 100%;">
        <div fxFlex="1 0 auto">{{z|date}}</div>
        <button *ngIf="fi && !serviceActivated" mat-button color="accent" (click)="goToAddService()">+ Servicio</button>
        <p appAccent *ngIf="fi && serviceActivated">En Servicio</p>
      </div>
    </mat-list-item>
  </mat-list>
  <p *ngIf="bvn.celos.length == 0">No Hay celos registrados</p>
</mat-card>