<div class="container mat-typography">
    <div class="breadcrumb">
        <button mat-button routerLink="../">Alimentación</button> >
        <span>Agregar Alimentación</span>
    </div>

    <mat-card>
        <h1>Agregar Alimentación</h1>
        <app-bovine-selected (clickView)="goToEditSelected()"  [group]="selected.group" [selecteds]="selected.selecteds" [editable]="selected.group == null"></app-bovine-selected>

        <form #formAdd="ngForm" autocomplete="off">
            <div fxLayout="row wrap" fxLayoutGap="16px">

                <mat-form-field fxFlex="0 0 100%" fxFlex.gt-sm="0 0 calc(50% - 16px)" appearance="outline">
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="picker" (focus)="picker.open()" [(ngModel)]="date" required name="fechaIni">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                
                  <mat-form-field appearance="outline" fxFlex="0 0 100%" fxFlex.gt-sm="0 0 calc(50% - 16px)">
                    <mat-select placeholder="Tipo de alimento"  [(ngModel)]="item.tipoAlimento" name="tipoAli" required>
                      <mat-option value="Nacimiento"> Forraje</mat-option>
                      <mat-option value="Compra"> Maíz</mat-option>
                      <mat-option value="Concentrado"> Concentrado</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field fxFlex="0 0 100%" fxFlex.gt-sm="0 0 calc(50% - 16px)" appearance="outline">
                    <mat-label>Peso</mat-label>
                    <input matInput type="number" [(ngModel)]="item.peso" name="pes" required min="0">
                  </mat-form-field>

                  <mat-form-field fxFlex="0 0 100%" fxFlex.gt-sm="0 0 calc(50% - 16px)" appearance="outline">
                    <mat-label>Valor en kilogramos</mat-label>
                    <input matInput type="number" [(ngModel)]="item.valorkg" name="valorK" required min="0">
                  </mat-form-field>

                  <mat-form-field fxFlex="0 0 100%" fxFlex.gt-sm="0 0 calc(50% - 16px)" appearance="outline">
                    <mat-label>Valor total</mat-label>
                    <input matInput type="number" [(ngModel)]="item.valorTotal" name="valorTot" required min="0">
                  </mat-form-field>

                <div *ngIf="!loading; else loader" fxFlex="0 0 100%" fxLayout="row" fxLayoutGap="15px">
                    <button fxFlex="0 0 calc(50% - 15px)" fxFlex.gt-sm="0 0 calc(20% - 15px)" fxFlexOffset.gt-sm="60%" mat-button color="accent"
                        (click)="goToBack()">Cancelar</button>
                    <button fxFlex="0 0 calc(50% - 15px)" fxFlex.gt-sm="0 0 calc(20% - 15px)" mat-raised-button color="accent" (click)="add()"
                        [disabled]="formAdd.invalid">Agregar</button>
                </div>

                <ng-template #loader>
                    <app-loader></app-loader>
                </ng-template>
            </div>
        </form>

    </mat-card>

</div>