.bovine-selected{
    padding: 16px;    
}

.selected-content p{
    color: #aaa;
}

.selected-content{
    
}

.rectangulo {
    width: 250px; 
    height: 100px; 
    border: 3px solid #dddddd;
    background: #dddddd;
}
