<div class="mat-typography bovine-selected">
  <h2>Bovinos Seleccionados</h2>
  <mat-list>
    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Nombre</h4>
      <p mat-line appAccent>COD. 123123</p>
    </mat-list-item>

  </mat-list>
  <p>No hay bovinos seleccionados</p>
</div>


<div class="selected-bottom">
  <button mat-raised-button color="accent" fxFlex="1 0 auto" [disabled]="data.length == 0">Continuar</button>
  <!-- <div fxLayout="row" fxLayoutGap="16px">
    
  </div> -->
</div>