.bovine-selected{
    padding: 16px;    
}

.selected-content p{
    color: #aaa;
}

.selected-content{
    
}

.rectangulo {
    width: 100%; 
    background: #f0f0f0;
    padding: 10px;
    margin-bottom: 15px;
}
