<div class="mat-typography ">
  <app-list-loader [size]="data.length" [loading]="loading" [noData]="'No hay grupos registrados'" (add)="goToAdd()">
    <div fxLayout="row wrap" fxLayoutGap.gt-sm="20px">
      <div fxFlex="100" fxFlex.md="0 0 calc(50% - 20px)" fxFlex.gt-md="0 0 calc(33% -20px)" *ngFor="let d of data; index as i">

        <mat-card class="bottom-space hoverable" (click)="goToDetail(i)">
          <div class="border" [style.background-color]="getHexColor(d.color)"></div>
          <mat-card-header>
            <div mat-card-avatar ></div>
            <mat-card-title>Nombre del grupo</mat-card-title>
            <mat-card-subtitle>{{d.bovines.length}} Bovinos</mat-card-subtitle>
          </mat-card-header>     
          <div class="card-action-top">
              <button mat-icon-button (mousedown)="removeItem(i)">
                  <mat-icon>clear</mat-icon>
                </button>
          </div>          
        </mat-card>

      </div>
    </div>
  </app-list-loader>
</div>