<div class="mat-typography ">
    <app-list-loader [size]="data.length" [loading]="loading" [noData]="'No hay ganaderos con pagos pendientes o cercanos a pago.'" [addonable]="false">
      <div fxLayout="row wrap" fxLayoutGap.gt-sm="24px">
        <div fxFlex="100" fxFlex.md="0 0 calc(50% - 24px)" fxFlex.gt-md="0 0 calc(33% -24px)" *ngFor="let d of data; index as i">
  
          <app-card subtitle="DOC. {{d.dni}}" [subAccent]="true" [index]="i" title="{{d.nombre + d.apellido}}" [clickable]="false">
            <app-card-content>
              <app-card-field [title]="'Celular'">{{d.celular}}</app-card-field>
              <app-card-field [title]="'Email'">{{d.email}}</app-card-field>
              <app-card-field [title]="'Fecha Registro'" *ngIf="d.registro">{{d.registro | date}}</app-card-field>
              <app-card-field [title]="'Plan'" *ngIf="d.plan">{{d.plan | titlecase}}</app-card-field>
              <app-card-field [title]="'Inicio de Plan'" *ngIf="d.inicioPlan">{{d.inicioPlan | date}}</app-card-field>
              <app-card-field [title]="'ultimo Pago'" *ngIf="d.ultimoPago">{{d.ultimoPago | date}}</app-card-field>
            </app-card-content>
            <app-card-actions [align]="'flex-end'">
              <button mat-button color="accent" (click)="extends(i)">Confirmar Pago</button>
            </app-card-actions>
          </app-card>
  
        </div>
      </div>
    </app-list-loader>
  </div>