<div class="container mat-typography">
    <div class="breadcrumb">
        <button mat-button routerLink="../">Sanidad</button> >
        <span>Agregar Sanidad</span>
    </div>

    <mat-card>
        <h1>Agregar Sanidad</h1>

        <form #formAdd="ngForm" autocomplete="off">
            <div fxLayout="row wrap" fxLayoutGap="16px">



                <div *ngIf="!loading; else loader" fxFlex="0 0 100%" fxLayout="row" fxLayoutGap="15px">
                    <button fxFlex="0 0 calc(50% - 15px)" fxFlex.gt-sm="0 0 calc(20% - 15px)" fxFlexOffset.gt-sm="60%" mat-button color="accent"
                        (click)="goToBack()">Cancelar</button>
                    <button fxFlex="0 0 calc(50% - 15px)" fxFlex.gt-sm="0 0 calc(20% - 15px)" mat-raised-button color="accent" (click)="add()"
                        [disabled]="formAdd.invalid">Agregar</button>
                </div>

                <ng-template #loader>
                    <app-loader></app-loader>
                </ng-template>
            </div>
        </form>

    </mat-card>

</div>