<div class="mat-typography ">
  <app-list-loader [section]="false" [size]="data.length" [loading]="loading" [noData]="'No hay vacunas registradas'" [addonable]="false">
    <div fxLayout="row wrap" fxLayoutGap.gt-sm="20px">
      <div fxFlex="100" fxFlex.md="0 0 calc(50% - 20px)" fxFlex.gt-md="0 0 calc(33% -20px)" *ngFor="let d of data; index as i">

        <app-card [title]="d.nombre" subtitle="{{ d.fecha | date}}" [subAccent]="true">
          <app-card-content>
            <app-card-field [title]="'Dosis'">{{d.dosisMl}} ml</app-card-field>
            <app-card-field [title]="'Valor'">{{d.valor | currency}}</app-card-field>
          </app-card-content>          
        </app-card>

      </div>
    </div>
  </app-list-loader>
</div>