<div class="filter container">
  <mat-radio-group name="filter" [selected]="filterRecientes">
    <mat-radio-button value="1" #filterRecientes (click)="changeFilter(0)">Recientes</mat-radio-button>
    <mat-radio-button value="2" #filterProximos (click)="changeFilter(1)">Proximos</mat-radio-button>
    <mat-radio-button value="3" #filterPendientes (click)="changeFilter(2)">Pendientes</mat-radio-button>
  </mat-radio-group>
</div>

<div class="mat-typography ">
  <app-list-loader [size]="data.length" [loading]="loading" [noData]="'No hay registros de manejo'"  [menu]="true" (clickMenu)="goToSubAdd($event)">
    <div fxLayout="row wrap" fxLayoutGap.gt-sm="24px">
      <div fxFlex="100" fxFlex.md="0 0 calc(50% - 24px)" fxFlex.gt-md="0 0 calc(33% -24px)" *ngFor="let d of data; index as i">

        <app-card [title]="d.tipo === 'Otro' ? d.otro : d.tipo" subtitle="{{ (filter === 0 ? d.fecha : d.fechaProxima) | date}}"
          [subAccent]="true" [clickable]="true">
          <app-card-content>
            <app-card-field [title]="'Tratamiento'">{{d.tratamiento}}</app-card-field>
            <app-card-field [title]="'Producto'">{{d.producto}}</app-card-field>
            <app-card-field *ngIf="filter !== 1" [title]="'Frecuencia'">{{'Cada' + d.frecuencia +' '+ d.unidadFrecuencia}}</app-card-field>
            <app-card-field *ngIf="filter !== 1" [title]="'Numero de aplicaciones'">{{d.numeroAplicaciones}}</app-card-field>
            <app-card-field *ngIf="filter !== 1" [title]="'Aplicación'">{{d.aplicacion}}</app-card-field>
            <app-card-field *ngIf="filter !== 1" [title]="'Valor del producto'">{{d.valorProducto | currency}}</app-card-field>
            <app-card-field *ngIf="filter !== 1" [title]="'Valor de asistencia'">{{d.valorAsistencia | currency}}</app-card-field>
          </app-card-content>
          <app-card-obs *ngIf="d.observaciones">{{d.observaciones}}</app-card-obs>
          <app-card-footer [align]="'end'" *ngIf="d.grupo">
            <mat-icon class="small" svgIcon="group"></mat-icon> {{d.grupo.nombre}} ({{d.bovinos.length}})
          </app-card-footer>
          <app-card-footer [align]="'end'" *ngIf="!d.grupo">
            <mat-icon class="small" svgIcon="bovine"></mat-icon> {{d.bovinos.length}}</app-card-footer>
          <app-card-actions [align]="'flex-end'" *ngIf="filter === 1">
            <button mat-button color="accent">Omitir</button>
            <button mat-button color="accent" (mousedown)="goToApply(d)">Aplicar</button>
          </app-card-actions>
        </app-card>

      </div>
    </div>
  </app-list-loader>
</div>