<div class="mat-typography">
  <app-list-loader [size]="data.length" [loading]="loading" [noData]="'No hay fincas registrados'" (add)="goToAdd()">

    <div fxLayout="row wrap" fxLayoutGap.gt-sm="24px">
      <div fxFlex="100" fxFlex.md="0 0 calc(50% - 24px)" fxFlex.gt-md="0 0 calc(33% -24px)" *ngFor="let d of data; index as i">

        <mat-card class="bottom-space" (click)="goToDash(d)" class="hoverable">

          <h3>{{d.nombre}}</h3>
          <p appAccent>{{d.ubicacion}}</p>
          <p>{{d.hectareas}} Hectarias</p>

          <mat-card-actions align="end">
            <button mat-button color="accent" (mousedown)="goToEdit(d)">Editar</button>
            <button mat-button color="accent" (mousedown)="removeItem(i)">Eliminar</button>
          </mat-card-actions>
        </mat-card>

      </div>
    </div>
  </app-list-loader>
</div>