<div class="mat-typography container">
  <mat-card>

    <h1><button mat-icon-button (click)="cancel()"><mat-icon>arrow_back</mat-icon></button>   Agregar Peso</h1>

    <div class="section">
      <form #meatFrom="ngForm">
        <div fxLayout="row wrap">

          <mat-form-field fxFlex="0 0 100%" appearance="outline">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" [(ngModel)]="meatDate" name="dat" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field fxFlex="0 0 100%" appearance="outline">
            <mat-label>Peso</mat-label>
            <input matInput type="number" required name="lit" [(ngModel)]="item.peso">
          </mat-form-field>

          <button *ngIf="!loading" mat-button color="accent" fxFlex="0 0 50%" fxFlex.gt-sm="0 0 20%" fxFlex.gt-md="0 0 15%" fxFlexOffset.gt-sm="60%"
            fxFlexOffset.gt-md="70%" (click)="cancel()">Cancelar</button>

          <button *ngIf="!loading" [disabled]="meatFrom.invalid" mat-raised-button color="accent" fxFlex="0 0 50%" fxFlex.gt-sm="0 0 20%"
            fxFlex.gt-md="0 0 15%" (click)="add()">Agregar</button>

          <app-loader *ngIf="loading" fxFlex=" 0 0 100%" [align]="'end'"></app-loader>
        </div>

      </form>

    </div>
  </mat-card>

</div>