.card-field-lg{
    float:left;
}

.card-field-lg.lg{
    width:33%;
}

.card-field-lg.md{
    width:50%;
}


.card-field-lg h5{
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: bold;
}
