<div class="container section" *ngIf="!loading">
  <mat-grid-list cols="10" rowHeight="80px;">
    <mat-grid-tile *ngFor="let cell of gridList">
      <div style="width: 40px; height: 40px; margin: auto;">
        <button mat-raised-button  color="{{cell.pradera.isUsedMeadow ? 'warn' : 'accent'}}" (click)="openDialog(cell)">
          {{cell.pradera != null ? (cell.pradera.identificador != null ? cell.pradera.identificador : 'N/A') : 'N/A'}}
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div *ngIf="loading" class="container section">
  <app-loader [big]="true" [align]="'center'"></app-loader>
</div>