@import 'themes/theme';
@import 'themes/layout';
@import 'themes/variables';
@import 'themes/dimens';

.fab{
    position: fixed;
    bottom: $md;
    right: $md;
}

.snackbar-error{
    color:#ff9999;
}

.breadcrumb{
    padding-top: $md;
    padding-bottom: $md;
}

.breadcrumb > span{
    margin-left: $md;
}

.mat-card.bottom-space{
    margin-bottom: 20px;
}

.card-action-top{
    position: absolute;
    right: $sm;
    top: $sm;
    color: #999;
}

.mat-icon.small{
    color: #333;
    width: 17px;
    height: 17px;
}

.mat-radio-button{
    margin-right: 20px;
}

.mat-radio-group.m-bottom{
    margin-bottom: 20px;
}

.mat-checkbox.m-bottom{
    margin-bottom: 20px;
}